<app-search (newSearchEvent)="addKeywords($event)"></app-search>
<div *ngIf="zeroCountries">
  <p class="zero">
    No has ingresado ninguna letra o ningun pais cumple con los caracteres que has ingresados
  </p>
</div>
<app-show-country [country]="countries[0]" *ngIf="singleCountry"></app-show-country>
<app-show-countries  [countries]="countries" *ngIf="limitCountries"></app-show-countries>
<div *ngIf="manycountries" class="many">
  <h1>{{countries.length}}</h1>
  <p >
    paises cumplen tus especificaciones, cuanto mas especifico eres mas detalles 
    optienes. Puedes incluso ver la bandera del pais que deseas conocer
  </p>
</div>

